<!DOCTYPE html>
<html>
  <head>
    <title>Travel Journal</title>
    <meta charset="utf-8">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= image_tag gravatar("tgourley@engineyard.com") %>
    <%= render "tweet" %>
    <%= yield %>

  </body>
</html>
